/* @font-face {
    font-family: Poppins-Regular;
    src: url('https://fonts.googleapis.com/css2?family=Poppins')
}

@font-face {
    font-family: Poppins-Bold;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@700')
} */

/* * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
} */



html {
  height: 100%;
  font-family: sans-serif;
  font-size: 100%
}
.header
{
  width:100%;
  height:5.6rem;
  display: block;
  background-color:white;
  margin-top:-1.3rem;
  background-image: url("src\app\totp-creator\shrine software.png");
  background-repeat: no-repeat;
  background-size: 9.3rem 5.6rem;
  background-position: .62rem .2rem;
  box-shadow: 0 -.372rem .62rem .31rem rgba(0,0,0,0.5);
}
a {
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}
.create-icon
{
  color:#04acf4;
  font-weight: bold;
  font-size: 2.48rem;
  font-family: sans-serif;
  text-decoration: none;
  margin-top: .93rem;
  margin-right:1.86rem;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  list-style-type: none;
}

input {
  display: block;
  outline: none;
  border: none !important;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

button {
  outline: none !important;
  border: none;
  background: 0 0;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}

.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c4d3f6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 2.04rem 1.86rem;
}

.wrap-table100 {
  width: auto;
  border-radius: .62rem;
  overflow: hidden;
  position: relative;
  top: 2.356rem;
}

.table {
  width: 100%;
  display: table;
  margin: 0;
}

/* @media screen and (max-width: 768px) {
  .table {
    display: block;
  }
} */

.row {
  display: table-row;
  background: #fff;
}

.row.header {
  color: #fff;
  background: #6c7ae0;
}

/* @media screen and (max-width: 768px) {
  .row {
    display: block;
  }

  .row.header {
    padding: 0;
    height: 0;
  }

  .row.header .cell {
    display: none;
  }

  .row .cell:before {
    font-family: Poppins-Bold;
    font-size: .744rem;
    color: gray;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;
    margin-bottom: .806rem;
    content: attr(data-title);
    min-width: 6.07rem;
    display: block;
  }
} */

.cell {
  display: table-cell;
}

/* @media screen and (max-width: 768px) {
  .cell {
    display: block;
  }
} */

.row .cell {
  font-family: Poppins-Regular;
  font-size: .93rem;
  color: #666;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 1.24rem;
  padding-bottom: 1.24rem;
  border-bottom: 0.062rem solid #f2f2f2;
  text-align: center;
}

.row.header .cell {
  font-family: Poppins-Regular;
  font-size: 1.11rem;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 1.17rem;
  padding-bottom: 1.17rem;
  text-align: center;
}

.row .cell:nth-child(1) {
  width: 22.32rem;
  padding-left: 2.48rem;
}

.row .cell:nth-child(2) {
  width: 9.92rem;
}

.row .cell:nth-child(3) {
  width: 15.5rem;
}

.row .cell:nth-child(4) {
  width: 11.7rem;
}

.table,
.row {
  width: 100% !important;
}

.row:hover {
  background-color: #ececff;
  cursor: pointer;
}

/* @media (max-width: 768px) {
  .row {
    border-bottom: 0.062rem solid #f2f2f2;
    padding-bottom: 1.11rem;
    padding-top: 1.86rem;
    padding-right: .93rem;
    margin: 0;
  }

  .row .cell {
    border: none;
    padding-left: .18rem;
    padding-top: .99rem;
    padding-bottom: .99rem;
  }

  .row .cell:nth-child(1) {
    padding-left: .18rem;
  }

  .row .cell {
    font-family: Poppins-Regular;
    font-size: 1.11rem;
    color: #555;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table,
  .row,
  .cell {
    width: 100% !important;
  }
} */

.create-totp-label {
  font-size: 30;
}
.button,
button {
  display: inline-flex;
  align-items: center;
  padding: .49rem .99rem;
  border-radius: .12rem;
  font-size: .86rem;
  cursor: pointer;
  /* background-color: #1976d2; */
  /* color: black; */
  border: none;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.create-icon {
  font-size: 1.24rem;
  position: absolute;
  top: 1.24rem;
  right: 3.1rem;
}
.img-create-icon {
  position: relative;
  top: .12rem;
  max-width: 1.2rem;
  max-height: 1.2rem;
}

.noOtp {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}

/* @media screen and (max-width:768px) {
  
  .create-icon
  {
    margin-right: .31rem;
    font-size: .31rem;
}
.wrap-table100
{
  width: auto;
  border-radius: 0.62rem;
  overflow: hidden;
  position: relative;
  top: 2.3rem;
  text-align: center;
}
} */
@media(max-width:998px){
  html{
    font-size: 55%;
  }
}
@media(max-width:768px){
  html{
    font-size: 45%;
  }
}