<link rel="preconnect" href="https://fonts.googleapis.com" /><link
  rel="preconnect"
  href="https://fonts.gstatic.com"
  crossorigin
/><link
  href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap"
  rel="stylesheet"
/>

<nav class="navbar navbar-expand-lg navbar-light bg-light mb-3 nav">
  <div class="container-fluid">
    <a class="navbar-brand" [routerLink]="'.'">Shrine Software</a>
    <button
      class="navbar-toggler"
      type="button"
      (click)="isMenuCollapsed = !isMenuCollapsed"
    >
      &#9776;
    </button>

    <div [ngbCollapse]="isMenuCollapsed" class="collapse navbar-collapse">
      <ul class="navbar-nav">
        
        <li class="nav-item">
          <button
            class="btn btn-outline-primary logout"
            (click)="logout()"
            (click)="isMenuCollapsed = true"
          >
            Log Out
          </button>
        </li>
        <li class="nav-item">
          <a
            routerLink="/createTOTP"
            class="create-icon"
            (click)="isMenuCollapsed = true"
            style="margin-right: -30px"
            ><button class="btn btn-outline-primary AddTOTP">
              Add new TOTP
            </button>
          </a>
        </li>
        <li class="nav-item">
         
            <input
            class="search"
            name="search"
            [(ngModel)]="searchText"
            autocomplete="off"
            (click)="isMenuCollapsed = true"
            type="text"
            placeholder="Search"
          />
        </li>
        <li class="nav-item">
          <ui-switch class="autoBlur" size="small" [checked]="true" (click)="enableDisableRule()"
          (click)="isMenuCollapsed = true"></ui-switch>
          <label class="title_ab">Auto-Blur</label>
        </li>

      </ul>
    </div>
  </div>
</nav>

<!-- <div class="header"></div> -->
<p><button class="email">{{obj['email']}}</button></p>
<div *ngIf="allOtps; else noOtp">
  <div class="wrap-table100">
    <div style="overflow-x: scroll; width: 100%">
      <table style="width: 100%">
        <div class="table" [ngClass]="{ overlay: !isVisible }">
          <div class="row header">
            <div class="cell">Name</div>
            <div class="cell">
              Type
              <!-- <select class="form-select" [(ngModel)]="FilterType"  autocomplete="on">
                <option value="" selected>Select your Type</option>
                <option *ngFor="let t of typeListValues" [ngValue]="t">
                  {{ t }}
                </option>
              </select> -->
              <input class="typefield" type="text"/>
            </div>
            <div class="cell">TOTP Secret</div>
            <div class="cell">URL</div>
            <div class="cell">Email/Username</div>
            <div class="cell">Password</div>
            <div class="cell">Edit link</div>
            <div class="cell">Delete link</div>
          </div>
          <ng-container
            *ngFor="
              let totpResponse of allOtps
                | filter : searchText
                | filter : FilterType
            "
          >
            <div class="row">
              <div class="cell">
                {{ totpResponse.name }}
              </div>
              <div class="cell">
                {{ totpResponse.type }}
              </div>
              <div class="cell">
                <button (click)="copyTotp(totpResponse.secret)">
                  {{ totpResponse.secret }}
                </button>
              </div>
              <div class="cell">
                <button (click)="goToLink(totpResponse.url)">
                  {{ totpResponse.url }}
                </button>
              </div>
              <div class="cell">
                <button (click)="copyTotp(totpResponse.email)">
                  {{ totpResponse.email }}
                </button>
              </div>

              <div class="cell">
                <button (click)="copyTotp(totpResponse.password)">
                  {{ totpResponse.password }}
                </button>
              </div>
              <div
                *ngIf="totpResponse.owner || totpResponse.writeUser; else empty"
                class="cell"
              >
                <a [routerLink]="['/createTOTP', totpResponse.id]"> Edit </a>
              </div>

              <div *ngIf="totpResponse.owner; else empty" class="cell">
                <button (click)="deleteSecret(totpResponse)">Delete</button>
              </div>
            </div>
            <ng-template #empty>
              <div class="cell"></div>
            </ng-template>
          </ng-container>
        </div>
      </table>
    </div>
  </div>
</div>

<ng-template #noOtp>
  <h2 class="noOtp">
    You have not been delegated any project creds yet. <br />
    Either ask the project owner to add one or create one yourself if you own
    the project.
  </h2>
</ng-template>
