<link rel="preconnect" href="https://fonts.googleapis.com" />
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
<link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap" rel="stylesheet" />
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">


<meta name="viewport" content="width=device-width, initial-scale=1.0" />

<nav class="navbar navbar fixed-top navbar-expand-lg navbar-light bg-light nav">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Shrine Software</a>
    <button class="navbar-toggler" type="button" (click)="togglerSecondExample.toggle()"
      aria-controls="navbarTogglerDemo02" aria-expanded="false" aria-label="Toggle navigation">
      <i class="fa fa-bars"></i>
    </button>
    <div class="collapse navbar-collapse" id="navbarTogglerDemo02" mdbCollapse #togglerSecondExample="mdbCollapse">
      <ul class="navbar-nav me-auto ">
        <li class="nav-item ">
          <p class="email">{{ obj["email"] }}</p>
        </li>
        <li class="nav-item">
          <button type="button" class="new" routerLink="/createTOTP">Add new TOTP</button>
        </li>
        <li class="nav-item">
          <button type="button" class="log_out" (click)="logout()">Logout</button>
        </li>
        <li class="nav-item">
          <ui-switch class="autoBlur" [(ngModel)]="toggle" (click)="enableDisableRule()"  checkedLabel="Auto-Blur ON"
            uncheckedLabel="Auto-Blur OFF" size="small"></ui-switch>
        </li>

      </ul>
      <form class="d-flex input-group w-auto">
        <input name="search" [(ngModel)]="searchText" type="search" class="form-control search"
          placeholder="Search here" aria-label="Search" />
      </form>
    </div>
  </div>
</nav>
<div *ngIf="allOtps; else noOtp">
  <div class="wrap-table100">
    <div style="overflow-x: scroll; width: 100%">
      <table style="width: 100%">
        <div class="table" [ngClass]="{ overlay: !isVisible }">
          <div class="row header">
            <div class="cell">Name</div>
            <div class="cell">Type </div>
            <div class="cell">TOTP Secret</div>
            <div class="cell">URL</div>
            <div class="cell">Email/Username</div>
            <div class="cell">Password</div>
            <div class="cell">Edit link</div>
            <div class="cell">Delete link</div>
          </div>
          <ng-container *ngFor="
              let totpResponse of allOtps
                | filter : searchText
                | filter : FilterType
            ">
            <div class="row">
              <div class="cell">
                {{ totpResponse.name }}
              </div>
              <div class="cell">
                {{ totpResponse.type }}
              </div>
              <div class="cell">
                <button (click)="copyTotp(totpResponse.secret)">
                  {{ totpResponse.secret }}
                </button>
              </div>
              <div class="cell">
                <button (click)="goToLink(totpResponse.url)">
                  {{ totpResponse.url }}
                </button>
              </div>
              <div class="cell">
                <button (click)="copyTotp(totpResponse.email)">
                  {{ totpResponse.email }}
                </button>
              </div>

              <div class="cell">
                <button (click)="copyTotp(totpResponse.password)">
                  {{ totpResponse.password }}
                </button>
              </div>
              <div *ngIf="totpResponse.owner || totpResponse.writeUser; else empty" class="cell">
                <a [routerLink]="['/createTOTP', totpResponse.id]"> Edit </a>
              </div>

              <div *ngIf="totpResponse.owner; else empty" class="cell">
                <button (click)="deleteSecret(totpResponse)">Delete</button>
              </div>
            </div>
            <ng-template #empty>
              <div class="cell"></div>
            </ng-template>
          </ng-container>
        </div>
      </table>
    </div>
  </div>
</div>

<ng-template #noOtp>
  <h2 class="noOtp">
    You have not been delegated any project creds yet. <br />
    Either ask the project owner to add one or create one yourself if you own
    the project.
  </h2>
</ng-template>
