/* @font-face {
    font-family: Poppins-Regular;
    src: url('https://fonts.googleapis.com/css2?family=Poppins')
}

@font-face {
    font-family: Poppins-Bold;
    src: url('https://fonts.googleapis.com/css2?family=Poppins:wght@700')
} */

* {
  margin: 7px;
  padding: 0;
  box-sizing: border-box;
}

body,
html {
  height: 100%;
  font-family: sans-serif;
}

a {
  margin: 0;
  transition: all 0.4s;
  -webkit-transition: all 0.4s;
  -o-transition: all 0.4s;
  -moz-transition: all 0.4s;
}

a:focus {
  outline: none !important;
}

a:hover {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-align: center;
}

p {
  margin: 0;
}

ul,
li {
  margin: 0;
  list-style-type: none;
}

input {
  display: block;
  outline: none;
  height: 30px;
  width: 200px;
}

textarea {
  display: block;
  outline: none;
}

textarea:focus,
input:focus {
  border-color: transparent !important;
}

button {
  outline: none !important;
  border: none;
  background: 0 0;
}

button:hover {
  cursor: pointer;
}

iframe {
  border: none !important;
}


.limiter {
  width: 100%;
  margin: 0 auto;
}

.container-table100 {
  width: 100%;
  min-height: 100vh;
  background: #c4d3f6;
  display: -webkit-box;
  display: -webkit-flex;
  display: -moz-box;
  display: -ms-flexbox;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  padding: 33px 30px;
}

.wrap-table100 {
  width: auto;
  border-radius: 10px;
  overflow: hidden;
  position: relative;
  top: 38px;
}

.table {
  width: 100%;
  display: table;
  margin: 0;
}

.search_op{
  position: absolute;
  top: 115px;
  right: 12px;
}

@media screen and (max-width: 768px) {

  .table {
    display: block;
    overflow: scroll;
  }
  .search_op{
    position: relative;
    top: 34px;
    left: -6px;
  }
}

.row {
  display: table-row;
  background: #fff;
}

.row.header {
  color: #fff;
  background: #6c7ae0;
}

@media screen and (max-width: 768px) {
  
  .row.header {
    padding: 0;
    height: 0;
  }

 

  .row .cell:before {
    font-family: Poppins-Bold;
    font-size: 12px;
    color: gray;
    line-height: 1.2;
    text-transform: uppercase;
    font-weight: unset !important;
    margin-bottom: 13px;
    content: attr(data-title);
    min-width: 98px;
    display: none;
  } 
}

.cell {
  display: table-cell;
  padding: 20px ;
  

}

@media screen and (max-width: 768px) {
  .cell {
    display: table-cell ;
  }
}

.row .cell {
  font-family: Poppins-Regular;
  font-size: 15px;
  color: #666;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 20px;
  padding: 20px;
  padding-bottom: 20px;
  border-bottom: 1px solid #f2f2f2;
  text-align: center;
}

.row.header .cell {
  font-family: Poppins-Regular;
  font-size: 18px;
  color: #fff;
  line-height: 1.2;
  font-weight: unset !important;
  padding-top: 19px;
  padding-bottom: 19px;
  text-align: center;
}

.row .cell:nth-child(1) {
  width: 360px;
  padding-left: 40px;
}

.row .cell:nth-child(2) {
  width: 160px;
}

.row .cell:nth-child(3) {
  width: 250px;
}

.row .cell:nth-child(4) {
  width: 190px;
}

.table,
.row {
  width: 100% !important;
}

.row:hover {
  background-color: #ececff;
  cursor: pointer;
}

@media (max-width: 768px) {
  .row {
    border-bottom: 1px solid #f2f2f2;
    padding-bottom: 18px;
    padding-top: 30px;
    padding-right: 15px;
    margin: 0;
  }

  .row .cell {
    border: none;
    padding-left: 3px;
    padding-top: 16px;
    padding-bottom: 16px;
  }

  .row .cell:nth-child(1) {
    padding-left: 3px;
  }

  .row .cell {
    font-family: Poppins-Regular;
    font-size: 18px;
    color: #555;
    padding: 20px;
    line-height: 1.2;
    font-weight: unset !important;
  }

  .table,
  .row,
  .cell {
    width: 100% !important;
  }
}

.create-totp-label {
  font-size: 30;
}
.button,
button {
  display: inline-flex;
  align-items: center;
  padding: 8px 16px;
  border-radius: 2px;
  font-size: 14px;
  cursor: pointer;
  /* background-color: #1976d2; */
  /* color: black; */
  border: none;
}

.button:hover,
button:hover {
  opacity: 0.8;
  font-weight: normal;
}

.button:disabled,
button:disabled {
  opacity: 0.5;
  cursor: auto;
}

.create-icon {
  font-size: 16px;
  text-decoration: none;
}
.img-create-icon {
  position: relative;
  top: 10px;
  max-width: 20px;
  max-height: 20px;
}

.noOtp {
  vertical-align: middle;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin: 0;
}
@media screen and (min-width: 769px) {
   .create-icon{ 
    position: absolute;
    right: 55px;
    top: 43px;
  }
}


