<meta name="viewport" content="width=device-width">

<nav class="navbar fixed-top header">
  <div class="container-fluid">
    <a class="navbar-brand" href="#">Shrine Software</a>
    <button type="button" routerLink="/home" class="home-link">Go to Home</button>
  </div>
</nav>

<form [formGroup]="addSecret" (ngSubmit)="onSubmit()" novalidate>
  <div class="container">
    <button type="button" routerLink="/home" class="close_button">X</button>
    <div class="form-group">
      <label for="name" style="color: #04acf4"> Project Name </label>
      <input id="name" type="text" formControlName="name" placeholder="Project Name"
        [ngClass]="{'invalid': submitted && addSecret.controls['name'].invalid}"
        onchange="this.value = this.value.trim()" />
      <div *ngIf="
          submitted && addSecret.controls['name'].invalid &&
          (addSecret.controls['name'].dirty ||
            addSecret.controls['name'].touched)
        " class="alert">
        <div *ngIf="addSecret.controls['name'].errors?.['required']">
          Name is required.
        </div>
        <div *ngIf="addSecret.controls['name'].errors?.['minlength']">
          Name should be atleast 4 character long.
        </div>
        <div *ngIf="addSecret.controls['name'].errors?.['maxlength']">
          Name should not be more than 90 character.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="type" style="color: #04acf4"> Type </label>
      <div class="autocomplete" [ngClass]="{'invalid': submitted && addSecret.controls['type'].invalid}">
        <ng-autocomplete formControlName="type" [data]="types" [searchKeyword]="keyword" placeholder="Type"
          [itemTemplate]="itemTemplate" onchange="this.value = this.value.trim()">
        </ng-autocomplete>
        <ng-template #itemTemplate let-item>
          <a [innerHTML]="item"></a>
        </ng-template>
      </div>
      <div *ngIf="
          submitted && addSecret.controls['type'].invalid &&
          (addSecret.controls['type'].dirty ||
            addSecret.controls['type'].touched)
        " class="alert">
        <div *ngIf="addSecret.controls['type'].errors?.['required']">
          Type is required.
        </div>
        <div *ngIf="addSecret.controls['type'].errors?.['minlength']">
          Type should be atleast 2 characters long.
        </div>
        <div *ngIf="addSecret.controls['type'].errors?.['maxlength']">
          Type should not be more than 90 character.
        </div>
      </div>

    </div>

    <div class="form-group">
      <div *ngIf="!isUpdateRequest">
        <label for="secret" style="color: #04acf4"> Secret Key </label>
        <input id="secret" type="text" formControlName="secret" placeholder="Secret Key"
          oninput="this.value = this.value.split(' ').join('')"
          [ngClass]="{'invalid': submitted && addSecret.controls['secret'].invalid}" />
        <div *ngIf="
            submitted && addSecret.controls['secret'].invalid &&
            (addSecret.controls['secret'].dirty ||
              addSecret.controls['secret'].touched)
          " class="alert">
          <div *ngIf="addSecret.controls['secret'].errors?.['required']">
            Secret is required.
          </div>
          <div *ngIf="addSecret.controls['secret'].errors?.['minlength']">
            Secret should be atleast 4 character long.
          </div>
          <div *ngIf="addSecret.controls['name'].errors?.['maxlength']">
            Secret should not be more than 200 character.
          </div>
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="url" style="color: #04acf4"> Login URL </label>
      <input id="url" type="text" formControlName="url" placeholder="Login URL"
        [ngClass]="{'invalid':submitted && addSecret.controls['url'].invalid }"
        onchange="this.value = this.value.trim()" />
      <div *ngIf="
          submitted && addSecret.controls['url'].invalid &&
          (addSecret.controls['url'].dirty || addSecret.controls['url'].touched)
        " class="alert">
        <div *ngIf="addSecret.controls['url'].errors?.['maxlength']">
          Url should not be more than 90 characters.
        </div>
      </div>
    </div>

    <div class="form-group">
      <label for="email" style="color: #04acf4">
        Project Email ID/Username
      </label>
      <input id="email" type="text" formControlName="email" placeholder="Project Email ID/Username"
        onchange="this.value = this.value.trim()"
        [ngClass]="{'invalid': submitted && addSecret.controls['email'].invalid}" />
      <div class="alert" *ngIf="submitted && addSecret.controls['email'].invalid">
        Email is invalid.
      </div>
    </div>

    <div class="form-group">
      <label for="password" style="color: #04acf4"> Password </label>
      <input id="pass" type="text" formControlName="password" placeholder="Password"
        [ngClass]="{'invalid': submitted && addSecret.controls['password'].invalid}"
        onchange="this.value = this.value.trim()" />
    </div>

    <br />
    <br />

    <div class="row">
      <div class="col">
        <ng-container *ngIf="delegationTableFormArray.length">
          <table id="delegation_table">
            <tr>
              <th id="id1">Email</th>
              <th id="id2">Can add other users?</th>
              <th id="id3">Remove</th>
            </tr>

            <ng-container formArrayName="delegationTable">
              <ng-container *ngFor="
                  let delegationRow of delegationTableFormArray.controls;
                  let i = index
                " [formGroupName]="i">
                <tr>
                  <td>
                    <input type="email" class="cell" id="id4" data-title="Email" placeholder="Shrine email address"
                      value="email" formControlName="email" oninput="this.value = this.value.split(' ').join('')" />
                  </td>
                  <td>
                    <input type="checkbox" class="cell" data-title="Write Access?" placeholder="" id="id5"
                      value="isWriteUser" formControlName="isWriteUser" />
                  </td>
                  <td>
                    <button [disabled]="!isOwner" (click)="deleteFieldValue(i)" id="removeUser">
                      Remove user
                    </button>
                  </td>
                </tr>
                <div *ngIf="
                    delegationTableFormArray.controls[i].invalid &&
                    (delegationTableFormArray.controls[i].dirty ||
                      delegationTableFormArray.controls[i].touched)
                  " class="alertForDelegation">
                  <p>Error:</p>
                  <div *ngIf="delegationTableFormArray.controls[i].get('email')?.errors?.['required']">
                    Email is required.
                  </div>
                  <div *ngIf="delegationTableFormArray.controls[i].get('email')?.errors?.['minlength']">
                    Check email id.
                  </div>
                  <div *ngIf="delegationTableFormArray.controls[i].get('email')?.errors?.['pattern']">
                    Please use {{ companyDomain }} email id only
                  </div>
                  <div *ngIf="delegationTableFormArray.controls[i].get('email')?.errors?.['maxlength']">
                    Mail id should be shorter
                  </div>
                </div>
              </ng-container>
            </ng-container>
            <br />
          </table>
        </ng-container>
      </div>
    </div>

    <button type="button" (click)="addFieldValue()" class="btn-1 btn"
      style="background-color: #04acf4; color: white; margin-left: 146px">
      Add Users to delegate this access
    </button>
    <br />
    <br />
    <br />
    <button [ngClass]="{'enabled':addSecret.valid,'disabled':addSecret.invalid}" type="submit">
      <ng-container *ngIf="isUpdateRequest; else addTotpText" class="center">
        <h4>Update TOTP</h4>
      </ng-container>
      <ng-template #addTotpText class="center">
        <h4>Add TOTP</h4>
      </ng-template>
    </button>
    <br />
    <br />
  </div>
</form>