.alert {
  color: red;
}

.main{
  display: grid;
}
.header{
  display: flex;
  flex-wrap: wrap;
  height: 50px;
  background-color: #04acf4;
  background-image: url(src\assets\icons\download.png);
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 14px;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04acf4;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #1b7ba4;
}

.form-submit {
  display: flex;
  align-items: center;
  color: white;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  background-color: #ddd;
}
.form-submit:hover {
  background-color: #04acf4;
}
.form-submit:disabled {
  background-color: #ccc;
  width: auto;
  margin: auto;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  border: 3px solid green;
}
div {
  background-color: rgb(255, 255, 255);
  padding: 15px;
}

#delegationTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
}

#delegationTable td,
#delegationTable th {
  border: 1px solid #ddd;
  padding: 8px;
}

#delegationTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#delegationTable tr:hover {
  background-color: #ddd;
}

#delegationTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}

.home-link {
  font-size: 20px;
  position: absolute;
  top: 20px;
  right: 50px;
  color: aliceblue;
  text-decoration: none;
  font-family: "Times New Roman", Times, serif;
  font-size: 30px;
}

.container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
  border-radius: 5px;
  border-color: rgb(0, 0, 0);
  border-style: solid;
  margin: 0px 377px 0px 377px;
  box-shadow: 15px 10px 10px rgba(0, 0, 0, 0.408);
  font-family: "Times New Roman", Times, serif;
}

.close_button {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  margin-left: auto;
  background-color: red;
  border: none;
  color: white;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
}

.close_button:hover {
  background-color: rgba(255, 30, 0, 0.759);
}
@media screen and (max-width: 685px) {
  .container {
    display: contents;
  }
}
@media screen and (min-width: 685px) {
  .container {
    display: contents;
  }
  
}
@media screen and (min-width: 1500px) {
  .container {
    display: flex;
  }
}
