
.header
{
  height: 57px;
  display: block;
  background-color: white;
  /* background-image: url(src\assets\icons\company-logo.png);
  background-repeat: no-repeat;
  background-size: 150px 90px;
  background-position: 20px 3px; */
  box-shadow: 0 -6px 10px 5px rgba(0, 0, 0, 0.5);
}
.home-link  {
  
  top: 9px;
  right:32px;
  position: absolute;
 
}
.container
{
  background-color: white;
  margin-top:93px;
  height: auto;
  width: 600px;
  border-radius: 10px;
  box-shadow: 10px 10px 5px rgba(0, 0, 0, 0.208);
  
}
.close_button {
  display: flex;
  flex-wrap: wrap;
  font-weight: 600;
  margin-left: auto;
  background-color: #04acf4;
  border: none;
  color: white;
  padding: 4px 8px;
  font-size: 16px;
  cursor: pointer;
}
.alert {
  color: red; 
}
.close_button:hover {
  background-color: rgba(255, 30, 0, 0.759);
}
#delegation_table {
  margin-left: 30px;
}
input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #04acf4;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
  color: #04acf4;
}
.autocomplete{
    margin-top: 6px;
    border: 1px solid #04acf4;
    width: 100%;
    box-sizing: border-box;
    margin-bottom: 16px;
    resize: vertical;
    font-size: 10px;
}
.form-submit {
  width: 40%;
  align-items: center;
  background-color: #4caf50;
  color: white;
  border: none;
  border-radius: 4px;
  margin-left: 164px;
}
.form-submit:hover {
  background-color: #45a049;
}
.form-submit:disabled {
  background-color: #ccc;
}
.center {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 20px;
  border: 3px solid green;
}
#delegationTable {
  font-family: Arial, Helvetica, sans-serif;
  border-collapse: collapse;
  width: 100%;
  left: 80px;
  padding-left: 10px;
}

#delegation_table {
  margin-left: 30px;
}

#delegationTable td,
#delegationTable th {
  border: 1px solid #ddd;
}

#delegationTable tr:nth-child(even) {
  background-color: #f2f2f2;
}

#delegationTable tr:hover {
  background-color: #ddd;
}

#delegationTable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #04aa6d;
  color: white;
}
.btn1 {
  margin-left: 135px;
}
#id1 {
  padding: 0px 133px 21px 29px;
}
#id2 {
  display: flex;
  margin: 0px 0px 0px -23px;
}
#id3 {
  display: inline-block;
  margin-left: 229px;
  margin-top: -43px;
}
#id4 {
  width: 110px;
}
#id5 {
  text-align: center;
  margin: 3px 0px 5px 44px;
}
#removeUser
{
  display: inline-block;
  margin-left: -83px;
} 
