<a routerLink="/home" class="home-link"> Go to Home</a>
<form [formGroup]="addSecret" (ngSubmit)="onSubmit()" novalidate>
  <div class="header"></div>

  <div class="container">
    <div class="whiteBox">
      <button type="button" routerLink="/home" class="close_button">X</button>

      <div class="space">
        <label for="name" style="color: #04acf4"> Project Name </label>
        <input
          id="name"
          type="text"
          formControlName="name"
          placeholder="Project Name"
        />
        <div
          *ngIf="
            addSecret.controls['name'].invalid &&
            (addSecret.controls['name'].dirty ||
              addSecret.controls['name'].touched)
          "
          class="alert"
        >
          <div *ngIf="addSecret.controls['name'].errors?.['required']">
            Name is required.
          </div>
          <div *ngIf="addSecret.controls['name'].errors?.['minlength']">
            Name should be atleast 4 character long.
          </div>
        </div>
        <div>
          <label for="type" style="color: #04acf4"> Type </label>
          <select name="type" id="type" formControlName="type">
            <option value="AWS">AWS</option>
            <option value="MAIL">MAIL</option>
            <option value="SALESFORCE">SALESFORCE</option>
            <option value="OTHERS">OTHERS</option>
          </select>
        </div>

        <div *ngIf="!isUpdateRequest">
          <label for="secret" style="color: #04acf4"> Secret Key </label>
          <input
            id="secret"
            type="text"
            formControlName="secret"
            placeholder="Secret Key"
            oninput="this.value = this.value.split(' ').join('')"
          />
          <div
            *ngIf="
              addSecret.controls['secret'].invalid &&
              (addSecret.controls['secret'].dirty ||
                addSecret.controls['secret'].touched)
            "
            class="alert"
          >
            <div *ngIf="addSecret.controls['secret'].errors?.['required']">
              Secret is required.
            </div>
            <div *ngIf="addSecret.controls['secret'].errors?.['minlength']">
              Secret should be atleast 4 character long.
            </div>
          </div>
        </div>

        <div>
          <label for="url" style="color: #04acf4"> Login URL </label>
          <input
            id="url"
            type="text"
            formControlName="url"
            placeholder="Login URL"
          />
        </div>

        <div>
          <label for="email" style="color: #04acf4">
            Project Email ID/Username
          </label>
          <input
            id="email"
            type="text"
            formControlName="email"
            placeholder="Project Email ID/Username"
          />
        </div>

        <div>
          <label for="password" style="color: #04acf4"> Password </label>
          <input
            id="pass"
            type="text"
            formControlName="password"
            placeholder="Password"
          />
        </div>
      </div>

      <br />
      <br />
      <div class="container">
        <div class="row">
          <div class="col-3"></div>
          <div class="col-6">
            <ng-container *ngIf="delegationTableFormArray.length">
              <div class="items">
                <table id="delegation_table">
                  <tr>
                    <th id="id1">Email</th>
                    <th id="id2">Can add other users?</th>
                    <th id="id3">Remove</th>
                  </tr>

                  <ng-container formArrayName="delegationTable">
                    <ng-container
                      *ngFor="
                        let delegationRow of delegationTableFormArray.controls;
                        let i = index
                      "
                      [formGroupName]="i"
                    >
                      <tr>
                        <td>
                          <input
                            type="email"
                            class="cell"
                            id="id4"
                            data-title="Email"
                            placeholder="Shrine email address"
                            value="email"
                            formControlName="email"
                            oninput="this.value = this.value.split(' ').join('')"
                          />
                        </td>
                        <td>
                          <input
                            type="checkbox"
                            class="cell"
                            data-title="Write Access?"
                            placeholder=""
                            id="id5"
                            value="isWriteUser"
                            formControlName="isWriteUser"
                          />
                        </td>
                        <td>
                          <button
                            [disabled]="!isOwner"
                            (click)="deleteFieldValue(i)"
                            id="id6"
                          >
                            Remove user
                          </button>
                        </td>
                      </tr>
                      <div
                        *ngIf="
                          delegationTableFormArray.controls[i].invalid &&
                          (delegationTableFormArray.controls[i].dirty ||
                            delegationTableFormArray.controls[i].touched)
                        "
                        class="alert"
                      >
                        <p>Error:</p>
                        <div
                          *ngIf="delegationTableFormArray.controls[i].get('email')?.errors?.['required']"
                        >
                          Email is required.
                        </div>
                        <div
                          *ngIf="delegationTableFormArray.controls[i].get('email')?.errors?.['minlength']"
                        >
                          Check email id.
                        </div>
                        <div
                          *ngIf="delegationTableFormArray.controls[i].get('email')?.errors?.['pattern']"
                        >
                          Please use {{ companyDomain }} email id only
                        </div>
                        <div
                          *ngIf="delegationTableFormArray.controls[i].get('email')?.errors?.['maxlength']"
                        >
                          Mail id should be shorter
                        </div>
                      </div>
                    </ng-container>
                  </ng-container>

                  <br />
                </table>
              </div>
            </ng-container>
          </div>
          <div class="col-3"></div>
        </div>
      </div>
      <button
        mat-raised-button
        (click)="addFieldValue()"
        type="button"
        class="btn1"
        style="background-color: #04acf4; color: white"
      >
        Add Users to delegate this access
      </button>
      <br />
      <br />
      <br />
      <button
        [disabled]="addSecret.pristine || addSecret.invalid"
        class="form-submit"
        type="submit"
      >
        <ng-container *ngIf="isUpdateRequest; else addTotpText" class="center">
          <h4>Update TOTP</h4>
        </ng-container>
        <ng-template #addTotpText class="center">
          <h4>Add TOTP</h4>
        </ng-template>
      </button>
    </div>
  </div>
</form>
