h1,
h2,
h3,
h4,
h5,
h6 {
 text-align: center;
 margin-top: 59px;  
 margin-left:40px ;
}
@media screen and (max-width:600px) {

    h1,h2,h3,h4,h5,h6{

        margin-top: 30px;
        margin-left: -138px;
        display: none;
    }
   
}